<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <!--                       Interpolations                      -->

    <!-- Text Interpotlation using the Mustache syntax-->
    <span>Message: {{ message }}</span>

    <!-- v-once directive performs one time interpolations 
        that do not update on data change-->
    <span v-once>This wil never change: {{ msg }}</span>

    <!-- v-html directive for data cantaining html, not just plain text-->
    <p>Using mustaches: {{ rawHtml }}</p>
    <p>Using v-html directive: <span v-html="rawHtml"></span></p>

    <!-- Mustaches cannot be used in html attributes, 
        so v-bind directive is used-->
    <div v-bind:id="dynamicId"></div>
    <button v-bind:disabled="isButtonDisabled">Button</button>

    <!-- Vue supports the JavaScript expressions inside all data bindings-->
    <!-- 
    {{ number + 1}}
    {{ ok ? 'Yes' : 'No' }}
    {{ message.split('').reverse().join('') }}
    <div v-bind:id="'list-' + id"></div> 
    -->

    <!-- But each binding can contain only one single expression -->
    <!-- 
    {{ var a = 1 }} Won't work, this is a statement, not an expression
    {{ if (ok) { return message } }} Won't work, flow control won't work, use ternary expressions 
    -->

    <!--                         Directives                           -->

    <!-- Directives are specital attributes with the v- prefix
        Directive attribute values are expected to be a single JS expression
        except v-for 
        Directive's job is to reactively apply side effects to the DOM when the value of its  expression changes-->
    <p v-if="seen">Now you see me</p>

    <!-- Some directives can take an "argument" denoted by a colon after a directive name -->
    <!-- For ex. here href is the "argument" 
            which tells the v-bind dir to bind the element's href attribute to the value of the expression url-->
    <a v-bind:href="url"></a>

    <!-- Another ex. is v-on dir, which listens to DOM events -->
    <a v-on:click="doSomething"></a>

    <!-- It is possible to use JS expression in a directive arguent by wrapping it with sq brackets (dynamic argument)-->
    <a v-bind:[attributeName]="url"></a>
    <!-- Dynamic args are expected to evalueate to a string or null.
       When it is null, the binding is simply removed.
       When it is not null, nor a string, a warning will be triggered.-->

    <!-- Modifiers are speciall postfixes denoted by a dot,
        which indicate that a dir should be bound in some special way.
       For ex. .prevent modifier tells the v-on firective to call event.preventDefault() on the triggered event-->
    <form v-on:submit.prevent="onSubmit"></form>

    <!--                               Shorthands                                -->
    <!-- The v- prefix serves as a visual cue for identifying Vue-specific attributes in templates.
        This is useful when using Vue to  apply dynamic behaviour to some existing markup.
        However, when building SPA, v- prefix is less important, so Vue provides shorthands for the most oftne used ones-->

    <!-- full syntaxt -->
    <a v-bind:href="url"></a>
    <!-- shorthand -->
    <a :href="url"></a>
    <!-- shorthand with dynamic argument -->
    <a :[key]="url"></a>

    <!-- full syntax -->
    <a v-on:click="doSomething"></a>
    <!-- shorthand -->
    <a @click="doSomething"></a>
    <!-- shorthand with dynamic argument -->
    <a @[event]="doSomething"></a>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script></script>
</html>
